<!DOCTYPE HTML>
<html lang="ja">
  <head>
    <!--<link rel="stylesheet" href="{{ asset('css/style.css')}}">--> 
    <!--<script src ="js/jquery.min.js"></script>-->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">

    
    <meta name="viewport" content="width=device-width">
    <meta charset="utf-8">

    <title>Main Menu</title>
  </head>

  <body>
    <div class="ui text container">
      <button class="ui green button">マイページ</button>
      <button class="ui green button">設定</button>

      <form class="ui form">
        <div class="field">
          <label>グループ検索</label>
          <div class="field">
            <input type="text" name="group-name" placeholder="検索...">
          </div>
        </div>
      </form>
    </div>
    
  </body>
        
</html>